<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mapper.AccountInfoMapper">

    <!--
    foreach
    遍历标签
    collection：集合元素
    item：每个条目
    separator：分隔符
    open：前缀
    close：后缀
    index：索引
    -->
    <select id="getAccountInfoForeach" resultType="main.entities.AccountInfo">
        select * from account_info where id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>