<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mapper.AccountInfoMapper">

    <select id="getAccountInfoByNameAndBalance" resultType="main.entities.AccountInfo">
        select *
        from account_info
        where name = #{name} and balance = #{balance}
    </select>

    <select id="getAccountInfoById" resultType="main.entities.AccountInfo">
        select *
        from account_info
        where id = #{id}
    </select>

    <!-- useGeneratedKeys="true"在全局配置文件中已经配置过，所以在此处无需重复配置。 -->
    <insert id="saveAccountInfo" parameterType="main.entities.AccountInfo" keyProperty="id">
        insert into account_info (gmt_create, gmt_modified, name, balance)
        values (#{gmtCreate}, #{gmtModified}, #{name}, #{balance})
    </insert>

    <update id="updateAccountInfo">
        update account_info
        set gmt_modified = #{gmtModified}, name = #{name}, balance = #{balance}
        where id = #{id}
    </update>

    <delete id="deleteAccountInfo">
        delete
        from account_info
        where id = #{id}
    </delete>

</mapper>